{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "import",
    "jest",
    "promise"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "forOf": true,
      "generators": false,
      "modules": true,
      "objectLiteralComputedProperties": true,
      "objectLiteralDuplicateProperties": false,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true
    },
    "allowImportExportEverywhere": true
  },
  "rules": {
    "node/no-unpublished-import": false,
    "node/no-missing-import": "disallow",
    "prefer-destructuring": 0
  }
}
