{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "env": {
    "es6": true,
    "jasmine": true,
    "node": true
  },
  "plugins": [
    "import",
    "promise"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "forOf": true,
      "generators": false,
      "impliedStrict": true,
      "modules": true,
      "objectLiteralComputedProperties": true,
      "objectLiteralDuplicateProperties": false,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true
    },
    "allowImportExportEverywhere": true
  },
  "rules": {
    "node/no-unpublished-import": 0,
    "node/no-missing-import": 2,
    "prefer-destructuring": 0
  }
}

